# Virtual environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test and coverage
.coverage
htmlcov/
.pytest_cache/

# Migrations cache
*.pyc